[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
djangorestframework = "*"
django-rest-knox = "*"
django = "~=3.2.9"

[dev-packages]

[requires]
python_version = "3.8"
