asgiref==3.4.1
autopep8==1.6.0
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.9
cryptography==36.0.1
Django==3.2.10
django-cors-headers==3.10.1
django-rest-knox==4.1.0
djangorestframework==3.13.1
idna==3.3
Pillow==8.4.0
pycodestyle==2.8.0
pycparser==2.21
pytz==2021.3
requests==2.26.0
sqlparse==0.4.2
toml==0.10.2
urllib3==1.26.7
gunicorn==19.10.0
whitenoise==3.3.1